@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Razor Expressions";
}

<div class="row " style="width: 100%">
    <div class="col-md-12">
        <table class="table ">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Roll</th>
                    <th scope="col">Name</th>
                    <th scope="col">Marks</th>
                    <th scope="col">Result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.studRoll</td>
                    <td>@ViewBag.studName</td>
                    <td>@ViewBag.studMk</td>
                    <td>

                        @if (ViewBag.studMk >= 33)
                        {
                            <span class="text-success">Pass</span>
                        }
                        else if (ViewBag.studMk < 33)
                        {
                            <span class="text-danger">Fail</span>
                        }

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12 mt-3">
        <h2> For Loop</h2>
        <div class="row">
            @for (int i = 0; i < 5; i++)
            {
                <div class="col-md-12">
                    @for (int j = 0; j <= i; j++)
                    {
                        <span>⭐</span>
                    }
                </div>

            }
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <h2> For Each Loop</h2>
        <div class="row">
            @foreach (var emot in ViewBag.emotList)
            {
                <div class="col-md-12">
                    <h3>@emot</h3>
                </div>
            }

        </div>
    </div>
</div>