
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Actions";
}

<div class="row">
    <div class="col-md-12 m-3">
        <h4>Content Result</h4>
        <a class="btn btn-primary me-2" href="/Actionss/GetContentResult">
            ContentResult()
        </a>
    </div>
    <div class="col-md-12 m-3">
        <h4>File Result</h4>
        <div>
            <a class="btn btn-danger me-2" href="/actionss/getfileresult?picId=1">
                FileResult(1)
            </a>
            <a class="btn btn-danger me-2" href="/actionss/getfileresult?picId=2">
                FileResult(2)
            </a>
            <a class="btn btn-danger me-2" href="/actionss/getfileresult?picId=3">
                FileResult(3)
            </a>
        </div>

    </div>
    <div class="col-md-12 m-3">
        <h4>Redirect Result</h4>
        <a class="btn btn-info me-2" href="/actionss/getredirectresult">
            RedirectResult( Redirect to google )
        </a>
    </div>
    <div class="col-md-12 m-3">
        <h4>Redirect To Route Result</h4>
        <div>
            <a class="btn btn-warning me-2" href="/Actionss/GetRedirecttoRouteResult?routeId=1">
                RedirectToRouteResult(to different Controller)
            </a>
            <a class="btn btn-warning me-2" href="/Actionss/GetRedirecttoRouteResult?routeId=2">
                RedirectToRouteResult(within same controller)
            </a>
        </div>
    </div>
</div>
