

<h1>URl routing</h1>

<div>
    <div>
        <a class="btn btn-primary me-3" href="/Home/GetEmojiById/1">see 1</a>
        <a class="btn btn-info me-3" href="/Home/GetEmojiById/2">see 2</a>
        <a class="btn btn-success me-3" href="/Home/GetEmojiById/3">see 3</a>
    </div>

    <div class="mt-9">
        <a class="btn btn-primary me-3" href="/Home/GetEmojiByName/sne">see sne</a>
        <a class="btn btn-info me-3" href="/Home/GetEmojiByName/tne">see tne</a>
        <a class="btn btn-success me-3" href="/Home/GetEmojiByName/hne">see hne</a>
    </div>
</div>
