@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HTTP Objects";
}


<a class="btn btn-success" href="/HttpObjects/getRequestObjects?n=1">
    Get Request Objects
</a>

<a class="btn btn-danger ms-3" href="/HttpObjects/setResponseObjects">
    Get Request Objects
</a>