
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Shared Views";
}


<a class="btn btn-outline-primary me-5" href="/SaredViews/spiralMonkey">
    🐵 GOTO Home/spiralMokey
</a>

<a class="btn btn-outline-danger" href="/Home/spiralMonkey">
    🐵 GOTO Shared/spiralMokey
</a>